// @import "../../../styles/globals.scss";

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #111322;
  height: 16rem;
  width: 100%;
}

.footerItem {
  color: #676767;
  font-size: 1.6rem;
  display: flex;
  margin-top: 4rem;
  gap: 1rem;
}
