.container {
  display: flex;
  height: 1000px;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

.link {
  margin-top: 1.6rem;
  font-size: 1.6rem;

  a {
    color: var(--primary);
  }
}
